
/* MY CSS */

div.table {
  margin: 0 auto;
}

.App {
  display: table;
  max-width: 600px;
  margin: 20px auto 0;
}

.App tr {
  padding: 10px 0;
}

.App .tableHeader th {
  color: #D5DDE5;
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 23px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  font-family: 'Source Code Pro', monospace;
}

.App .tableHeader-ruler {
  margin-top: -2px;
  z-index: 99;
  background: #ffff00;
  height: 2px;
  padding: 0 !important;
  border: 2px solid #ffff00;
  border-right-color: #000;
  border-left-color: #000;
}

.App #Tools > td {
  padding: 20px;
  background: #ccc;
  border: 1px solid #333;
  font-family: 'PT Mono', monospace;
}

.App #Tools > td:nth-of-type(1){
  border-left-width: 2px;
}
.App #Tools > td:nth-of-type(n+1){
  border-bottom-width: 2px
}
.App #Tools > td:nth-of-type(5){
  border-right-width: 2px;
}

.App #Tools > td:first-of-type {
  background: #bbb
}

.App #Tools > td a{
  color: #333;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.8);
  font-weight: 700 !important;
  font-size: 16px !important;
  text-decoration: underline !important;
}

.App #Tools button {
  background: #ffff00;
}

.App #Tools button:hover{
  background: rgba(255, 255, 0, 0.3);
  color: #fff
}

form#SearchForm {
  font-family: 'Source Code Pro' !important;
  font-weight: 900;
  margin:20px 0;
}

form#SearchForm .SearchForm_Header{
  background: #bbb;
  padding: 10px 20px;
  border-bottom: 2px solid #333;
}

form#SearchForm input {
  font-family: monospace;
  color: #1b1e24;
  padding: 10px;
  width: 300px
}

form#SearchForm input::placeholder {
  color: rgba(25, 25, 25, 0.5);
}

form#SearchForm input:invalid {
  background: hsla(0, 100%, 80%, 1);
}

form#SearchForm .footnote{
  font-size: 10px;
  font-weight: 300;
}

form#SearchForm button {
  margin: 0 10px
}

.App .button-more{
  font-family: 'Source Code Pro' !important;
  margin: 15px 0;
}
